name: Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npx eslint --ext .js,.jsx,.ts,.tsx .
      - name: Compile to check syntax
        run: npx tsc --noEmit
      - name: Run tests
        run: npx jest --verbose --coverage
